.project-container-title {
    font-size: 10em;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 768px) {
    .project-container-title {
        font-size: 7em;
        margin-bottom: 0%;
    }
}